# local env files
.env.local
.env.*.local

# Ignore all logfiles and tempfiles.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/log/*
!/log/.keep
/tmp
.cache

node_modules
# /dist
.history
coverage
/Icon?
.DS_Store


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




# Back
# Ignore bundler config.
/_back/.bundle

# Ignore local Postgres files, but keep folder
/_back/postgres/*
/_back!/postgres/.keep

# Ignore locally uploaded files
/_back/public/uploads
/_back/public/assets
/_back/public/packs
/_back/public/packs-test
